body 
	{background-color: lightyellow;
}
h1{
	text-align: center;
	color: "navy";
	font-family: "Forte";
	font-size: 35px;
}

.center{text-align: center;
}
h2{color: "coral";
	font-family: "Comic Sans MS";
	font-size: 23px;
}
p{
	font-family:"Raavi";
	font-size: 20px;
	color: #476b6b;
}
#para0 {
	text-align: left;
	color:#476b6b
}
#para1 {
	text-align: center;
	color:#476b6b
}
#para2 {
	text-align: center;
	color: #476b6b
}
#para3 {
	text-align: center;
	color: #476b6b
}
